/clienApp/node_modules
*~
*.pyc
/clienApp/build/
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo

workspace.code-workspace

/serverAPI/.env
/serverAPI/vendor/

/clienApp/.eslintcache
/clienApp/package-lock.json