.MuiPaper-rounded{
    border-radius: 6px !important;
}
@media (prefers-color-scheme: dark) {
    .MuiPaper-rounded{
        background-color: #334155 !important;
    }
    .MuiPaper-rounded>div>h2{
        color: #fff !important;
    }
    .MuiPaper-rounded>div>p{
        color: rgba(226, 232, 240) !important;
    }
}