@font-face {
  font-family: "queensides";
  src: local('queensides'), url(./assets/fonts/queensides/QueensidesMedium-x30zV.ttf) format('truetype');
}

@font-face {
  font-family: "raleway";
  src: local('raleway'), url(./assets/fonts/raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: "roboto-condensed";
  src: local('roboto-condensed'), url(./assets/fonts/roboto_condensed/RobotoCondensed-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: roboto-condensed;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:active, a:visited {
  color:rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

