

footer{
    
    background-color: rgb(23, 79, 134);
    min-height: 200px;
    font-family: "roboto_condensed";
    font-size: large;
}

footer p{
    color: white;
    font-weight: bold;
    cursor: pointer;
}