.dropZone{
    border: 1px solid blue;
    border-style:dashed;
    padding: 30px;
    border-image-slice: 2; 
    margin: 10px;
    cursor: pointer;
}

.dropZone p{
    color: blue;
    text-align: center;
    vertical-align: middle;
    font-size: larger;
    font-weight: bold;
}