#presentation_stream {
    display: flex;
    width: calc(100% - 80px);
    margin: 40px 40px -25px 40px;
    height: 41vw;
}
#presentation_stream > .video {
    height: 100%;
    width: 75%;
}
#presentation_stream > .chat {
    height: calc(100% + 1px);
    width: 25%;
    min-width: 300px;
}

@media screen and (max-width: 1085px) {
    #presentation_stream {
        display: block;
        height: 100vh;
    }
    #presentation_stream > .video {
        display: block;
        height: 25%;
        width: 100%;
    }
    #presentation_stream > .chat {
        display: block;
        height: 75%;
        width: 100%;
        min-width: unset;
    }
}