footer p{
    width: 100%;
    min-height: 100px;
	background-color: rgba(10, 10, 10, 0.65);
    color: rgba(255, 113, 30, 1);
    text-align: center;
    bottom: 0;
    padding: 10px;
    font-weight: 500;
}