.button-normal:disabled, .button-normal[disabled]{
    filter: brightness(0.5);
}
.button-normal:disabled:hover, .button-normal[disabled]:hover {
    background-color: rgba(6, 182, 212, var(--tw-bg-opacity)) !important;
}

@media (prefers-color-scheme: dark) {
    .button-normal:disabled:hover, .button-normal[disabled]:hover {
        background-color: rgba(8, 145, 178, var(--tw-bg-opacity)) !important;
    }
}